<head th:fragment="header">
    <title>ShopLT</title>
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/all.min.css" rel="stylesheet"/>

    <script src="js/jquery.slim.min.js" type="text/javascript"></script>
    <script src="js/popper.min.js" type="text/javascript"></script>
    <script src="js/bootstrap.min.js" type="text/javascript"></script>
    <script src="js/sockjs.min.js" type="text/javascript"></script>
    <script src="js/stomp.min.js" type="text/javascript"></script>
</head>
