<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/resource_fragment.html :: header">
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div th:replace="fragments/nav_fragment.html :: nav"></div>
                <div id="body" class="container">
                    <p th:text="'Hello, ' + ${User} + '!'" />
                </div>
            </div>
        </div>
    </body>
</html>